@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  /* max-width: 375px; */
  height: 100vh;
  margin: auto;
  font-family: "Kumbh Sans", sans-serif;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16x;
  color: #787887;
}

.header {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__imageWoman {
  height: 200px;
  position: relative;
  z-index: 2;
  top: -120px;
}

.header__shadow {
  height: 200px;
  top: -200px;
  position: relative;
  z-index: 1;
}

.container {
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  margin: auto;
  margin-top: 15.5em;
  /* margin-left: 200px;
  margin-right: 20px; */
  margin-bottom: 5em;
  padding-bottom: 60px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.container .childtwo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .childtwo__title {
  padding-top: 6em;
  padding-bottom: 1em;
  font-size: 26px;
  font-weight: 700;
  color: #4a4b5e;
}

.container .childtwo__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.container .childtwo__list--item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li:hover {
  color: #f47c57;
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .container .header {
    background-image: url(../images/illustration-woman-online-desktop.svg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container .header__imageWoman {
    height: 300px;
    margin-left: -200px;
    margin-top: -50px;
  }
  .container .childtwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .childtwo__title {
    padding-top: 20px;
  }
  .container .childtwo__list {
    width: 100%;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .childtwo .list .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
            flex-grow: inherit;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

li.arrowUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li.arrowUp img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

li.arrowUp .title {
  color: #4a4b5e;
  font-weight: 700;
}

li.arrowUp:hover {
  color: #787887;
}

li.arrowUp .paragraph {
  display: block;
}

.paragraph {
  display: none;
  padding-top: 10px;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */