@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  /* max-width: 375px; */
  height: 100vh;
  margin: auto;
  font-family: "Kumbh Sans", sans-serif;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-size: 16x;
  color: hsl(240, 6%, 50%);
}

.header {
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__imageWoman {
    height: 200px;
    position: relative;
    z-index: 2;
    top: -120px;
  }
  &__shadow {
    height: 200px;
    top: -200px;
    position: relative;
    z-index: 1;
  }
}

.container {
  max-width: 50%;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  margin: auto;
  margin-top: 15.5em;
  /* margin-left: 200px;
  margin-right: 20px; */
  margin-bottom: 5em;
  padding-bottom: 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0.5;

  .childtwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      padding-top: 6em;
      padding-bottom: 1em;
      font-size: 26px;
      font-weight: 700;
      color: hsl(237, 12%, 33%);
    }
    &__list {
      box-sizing: border-box;
      width: 100%;
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;

      &--item {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
        border-bottom: 1px black solid;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
li:hover {
  color: hsl(14, 88%, 65%);
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .container .header {
    //flex: 1;
    display: flex;
    justify-content: flex-start;

    &__imageWoman {
      height: 300px;
      margin-left: -200px;
      margin-top: -50px;
    }
  }
  .container .childtwo {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: space-around;
    &__title {
      padding-top: 20px;
    }
    &__list {
      width: 100%;
      padding-left: 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  .childtwo .list .item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-grow: inherit;
    justify-content: space-evenly;
  }
}

li.arrowUp {
  display: flex;
  flex-wrap: wrap;
}

li.arrowUp img {
  transform: rotate(180deg);
}

li.arrowUp .title {
  color: hsl(237, 12%, 33%);
  font-weight: 700;
}
li.arrowUp:hover {
  color: hsl(240, 6%, 50%);
}
li.arrowUp .paragraph {
  display: block;
}
.paragraph {
  display: none;
  padding-top: 10px;
  line-height: 1.5;
}
